.header{
    background: #ffffff;
    color: $prymery-text-color;
    @media screen and(min-width:480px) {
        width: 480px;
    }
}

.header__logl_botton{
    display: flex;
    @media screen and(min-width:480px) {
        width: 480px;
    }
}

.header__menu-button{
    display: inline-flex;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0px;
      margin-left: 241px;
      background-color: #fff;

      & :hover,
      & :focus,
      & :active{
          fill: $accent-color ;}
}
 
.header__menu-button .icon-closet{
display: none;
}

.header__menu-button .is-open .icon-closet{
    display: block;
}

.header__menu-button .is-open .icon-menu{
    display: none;
}

.header__menu-button-svg{
    fill: black;
    width: 40px;
    height: 40px;

    & :hover,
    & :focus,
    & :active{
        fill: $accent-color ;
    }
    @media screen and(min-width:480px) {
        width: 480px;
    }
   
}

.nav__hidden{
        @media screen and(min-width:1px) {
            display: none;
    }
    @media screen and(min-width:768px)  {
        display: flex;
    }
    @media screen and(min-width:1200px) {
       display: flex;
}
}

// icon-menu
// icon-closet