.section-advantages__hide {
    display: none;
    }

    .section-advantages {
        background: #ffffff;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0px;
        @media screen and(min-width:480px) {
            width: 480px;
            // margin-top: 60px;
            // margin-bottom: 60px;
        }
        }

        .section-advantages__list{
            // display: flex;
            margin-left: auto;
            margin-right: auto;
            /* margin: 0px; */
            padding: 0px;
            // flex-wrap: nowrap;
            }

.section-advantages__item{
    margin-right: 30px;
    & :last-child{
    margin-right: 0px;
    }
    @media screen and(min-width:480px) {
        margin-right: 0px;
        width: 100%;
    }
}



.section-advantages__div{
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color:$backgroun-color-images ;
    border-radius: 4px;
    margin: 0px;
    display: flex;  
    @media screen and(min-width:480px) {
        width: 480px;
        margin-right: 0px;
        width: 100%;
        // margin-left: 15px;
        // margin-right: 15px;
    }
    }

    .section-advantages__svg{
        display: flex;
        width: 70px;
        height: 70px;
        margin: 0px;
        @media screen and(min-width:480px) {
            width: 480px;
        //    display: flex;
        }
}
    
.section-advantages__card-title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    color: $prymery-text-color;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and(min-width:480px){
        font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
width: 100%;
color: #212121;
}
}

.section-advantages__card-text{
    color: #757575;
    margin-right: 30px;
    width: 270px;
    height: 75px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    @media screen and(min-width:480px){
        width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;}
    }

p {
    margin-bottom: 0;
    margin-top: 0;
    }
