.section-container-what-we-do{
    margin: 0px;
    padding-bottom: 94px;
  }
  .image-first-page {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  /* padding: 0px; */
  margin: 0px;
  padding: 0px;
  }
  
  
  .image-first-page .img-first {
    margin-right: 30px;
    display: block;
  }
  .image-first-page :last-child{
    margin-right: 0px;
  }
  .img-first :last-child{
    margin: 0px;
  }
  
  .what-we-do {
    /**/
    /*Colors*/
    margin-top: 0;
    margin-bottom: 50;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    /**/
  }
  /**************************надпись*****************/
  /****************************на*******************/
  /*********************картинках*****************/
  .img-first{
    position: relative;
  }
  .div-text-image {
    position: relative;
  }
  
  
  .text{
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
  padding: 27px; 
  
  }
  .text-of-image-work-p {
  position: absolute;
  display: block;
  bottom: 0;  
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
    height: 70px;
  }
  